body{background-color:black;
			color:white;
			position:fixed;
			
			font-size:20px;}
#cent{margin-left:35%;
			margin-top:10%;
			}
#lin{margin-left:20%;
		margin-top:20%;}
#answerblock{padding-left:50%;
							}